<div class="container">
  <header>
    <h1>X - O Game</h1>
  </header>

  <div>
    <label for="name">First Player Name:</label><br />
    <input
      type="text"
      placeholder="Type in Your Name"
      name="player"
      [(ngModel)]="player_X"
    />
  </div>
  <div>
    <label for="name">Second Player Name:</label><br />
    <input
      type="text"
      placeholder="Type in Your Name"
      name="player"
      [(ngModel)]="player_O"
    />
  </div>
  <br />

  <div class="gameBoard">
    <div class="box" (click)="printValue(0)">{{ boxesValue[0] }}</div>
    <div class="box" (click)="printValue(1)">{{ boxesValue[1] }}</div>
    <div class="box" (click)="printValue(2)">{{ boxesValue[2] }}</div>
    <div class="box" (click)="printValue(3)">{{ boxesValue[3] }}</div>
    <div class="box" (click)="printValue(4)">{{ boxesValue[4] }}</div>
    <div class="box" (click)="printValue(5)">{{ boxesValue[5] }}</div>
    <div class="box" (click)="printValue(6)">{{ boxesValue[6] }}</div>
    <div class="box" (click)="printValue(7)">{{ boxesValue[7] }}</div>
    <div class="box" (click)="printValue(8)">{{ boxesValue[8] }}</div>
  </div>

  <br />

  <div class="reset">
    <button (click)="resetGame()">Reset Game</button>
  </div>
</div>
